<main class="pd-bo-ft clear mn-ht clearfix">
<div id="sidebar" class="col-3 w-mx-s d-ib bg-gray ht-au">
<!-- don't touch the code above here! -->


<a href="/login">Existing Users,<br>click here</a>

<!--
   this is where the sidebar info goes
                                      -->




<!-- don't touch the code between these comments -->
</div>
<div class="w-100p pd-main ht-au d-ib tx-lt h-100p">
<!-- don't touch the code between these comments -->

<center>
<section class="login-box">


<h2>Haven't been here before?</h2>
<h3>Create a user profile below</h3>

<%if @errors%>
  <%@errors.each do |error|%>
    <%=error%><br>
  <%end%>
<%end%>
<p>
<%= form_for :user, url: '/users' do |f| %>

  <%= f.text_field :username, :placeholder => " username" %><br>
  <%= f.text_field :email, :placeholder => " email" %> <br>
  <%= f.password_field :password, :placeholder => " password" %> <br>
  <%= f.password_field :password_confirmation, :placeholder => " password confirmation" %> <br><br>
  <%= f.submit "Submit" %>
<% end %>
</p>
</section>
</center>
