<center>
<section class="login-box">


<h2>Haven't been here before?</h2>
<h3>Create a user profile below</h3>

<%if @errors%>
  <%@errors.each do |error|%>
    <%=error%><br>
  <%end%>
<%end%>
<p>
<%= form_for :user, url: '/users' do |f| %>

  <%= f.text_field :username, :placeholder => " username" %><br>
  <%= f.text_field :email, :placeholder => " email" %> <br>
  <%= f.password_field :password, :placeholder => " password" %> <br>
  <%= f.password_field :password_confirmation, :placeholder => " password confirmation" %> <br>
  <%= f.submit "Submit" %>
<% end %>
</p>
</section>
</center>
