<!DOCTYPE html>
<html>
<head>
  <title>DBCwiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg-gray">

  <header class="h-3em w-100p bg-wh row">
      <div class="col-1 spacer"></div>
        <div class="col-9 h-100p tx-cn w-100p p-rl">

            <img class="ds-ib v-cen" src="<%= image_url("devbootcamp-logo.png") %>">


            <input type="textbox" class="ds-ib pd-lt-xs br-gy br-sm bg-sr cr-rd-s" placeholder="Search">

        </div>
      <div class="col-2 spacer"></div>
  </header>

    <%= yield %>

  </body>
</html>
